/* Mobile first */



/* vista s */
@media screen and (min-width:600px) {

    :root {
        /* --icon-width: 30px; */
        --sidebar-width: 230px;
        /* Variabili per calcolo colonne content */

    }

    .sidebar span,
    .logo-large {
        display: inline;

    }



    .logo-small {
        display: none;
    }


    .sidebar-top {
        text-align: start;

    }

    .sidebar-list {
        text-align: start;
    }




}




/* Vista medium */
@media screen and (min-width:800px) {

    :root {
        /* --icon-width: 30px; */
        --sidebar-width: 120px;
        /* Variabili per calcolo colonne content */
        --gap-col: 10px;
        --n-col: 6;
    }
}

/* vista large */
@media screen and (min-width:1100px) {

    :root {
        /* --icon-width: 30px; */
        --sidebar-width: 120px;
        /* Variabili per calcolo colonne content */
        --gap-col: 10px;
        --n-col: 6;
    }
}