/* variables */

:root {
    --bot-height: 90px;
    --icon-dimension: 20px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* common */
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* utility */
.hide-small {

    display: none;
}

/* MAIN */
/* struttura principale app */
.wrapper {
    height: 100vh;
    width: 100%;

    background-color: #141922;
}

/* TOP SECTION */
.top-section {

    height: calc(100% - var(--bot-height));
    width: 100%;

    background-color: aquamarine;

    display: flex;

}

/* barra di navigazione sinistra */
.bar {
    width: 10%;
    height: 100%;
    background-color: #000000;
    color: #D2D2D2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* parte superiore della barra sinistra */
/* logo */


.logo-small {
    display: inline-block;
    width: var(--icon-dimension);
    padding: 5px 0 10px;


}

.navigation-bar {
    text-align: center;

}


.navigation-bar span,
.logo-large {
    display: none;

}

.nav-list li {
    margin-bottom: 5px;

    img {
        width: var(--icon-dimension);
    }
}



/* Parte inferiore della barra sinistra */





/* container destro */
.container {
    width: 90%;
    height: 100%;
    background-color: rgb(226, 183, 43);
}

/* header container */
.header {
    width: 100%;
    height: 50px;
    background-color: rgb(214, 31, 25);
}

/* navigazione container */
.content-navigation {

    width: 100%;

    background-color: blanchedalmond;
    height: 20%;
}

/* contenuto del container */
.content {
    width: 100%;

}


/* BOT-SECTION */
.bot-section {
    height: var(--bot-height);
    width: 100%;
    background-color: rgb(129, 161, 93);
}