/* variables */

:root {
    /* dimensioni elementi */
    --bot-height: 90px;
    --sidebar-width: 50px;
    --header-height: 90px;
    --col-footer-width: 150px;
    /* variabili visualizzazione */

    --hide-small: none;
    /* Variabili per calcolo colonne content */
    --gap-col: 10px;
    --n-col: 2;



}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* common */
body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* utility */
.none-to-inline {
    display: none;
}

/* MAIN */
/* struttura principale app */
.wrapper {
    height: 100vh;
    width: 100%;

    background-color: #141922;
}

/* TOP SECTION */
.top-section {

    height: calc(100% - var(--bot-height));
    width: 100%;
    background-color: aquamarine;

    display: flex;

}

/* barra di navigazione sinistra */
.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: #000000;
    color: #D2D2D2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* parte superiore della barra sinistra */
/* logo */


.logo-small {
    display: inline-block;
    width: 55%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 12px;


}

.sidebar-top {
    text-align: center;
    width: 80%;
    margin: 0 auto;

}

.logo-large {
    display: none;
    width: 80%;
    padding: 20px 0;

}

.sidebar span {
    display: none;
    font-size: 1.5em;

}

.sidebar-list {
    align-items: start;
}

.sidebar-list li {
    margin-bottom: 5px;


    a {
        display: flex;
        align-items: center;
    }



    img {
        display: inline-block;
        width: 30px;
        padding: 2px;
    }
}



/* Parte inferiore della barra sinistra */
.sidebar-bot {
    display: flex;
    flex-direction: column;
    align-items: center;

    .download {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .user {
        i {
            background-color: gray;
            border-radius: 50%;
            font-size: 3rem;
            aspect-ratio: 1;
            overflow: hidden;
            width: var(--icon-width);

        }


        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }



}




/* MAIN CONTENT*/
.main-content {
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    background-color: #141922;
    overflow: auto;

}

/* header container */
.header {

    width: 100%;
    height: var(--header-height);
    background-color: rgba(8, 11, 18, 0.8);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: rgb(8, 11, 18);



}

.cta-button {
    color: rgba(255, 255, 255, 0.589);
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 10px;

    font-size: clamp(1rem, 2vw, 1.8rem);
    font-weight: 600;
}

/* navigazione container */
.content-navigation {

    width: 100%;
    color: #686B71;


}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;

}

.nav-list li {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    font-weight: 700;
    padding: 5px;
    text-align: center;

}

/* contenuto del container */
.content {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
}

.content-section {
    padding: 30px 0;

    h2 {
        margin-bottom: 15px;
        font-size: clamp(2rem, 3vw, 2.5rem);
    }

    span {
        display: inline-block;
        color: #6F7177;
        margin-bottom: 10px;
        font-weight: 600;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-col);

}

.col {
    border: 2px solid black;
    width: calc((100% - var(--gap-col) * (var(--n-col) - 1)) / var(--n-col));
    text-align: center;

    img {
        margin-bottom: 10px;
    }

    h3 {
        margin-bottom: 5px;

    }

    span {
        font-size: 8px;
    }



}

.round {
    border-radius: 50%;
}



/* BOT-SECTION */
.action-bar {
    height: var(--bot-height);
    width: 100%;
    background-color: rgb(129, 161, 93);
    display: flex;
    justify-content: space-between;
    color: #D2D2D2;
}



.album {
    width: var(--col-footer-width);

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;




}

.col-40 {
    width: 30%;
    margin-left: 5px;

    img {
        display: inline-block;

    }

    span {
        display: inline-block;
        color: #767676;

    }
}

.col-20 {
    margin-left: 5px;


    display: flex;
    flex-direction: column;
    color: #000;

    a {
        padding: 1px;
        display: inline-block;
        color: #767676;
    }
}

.barra {
    height: 2px;
    width: 40px;
    background: #000000;
}

.controls {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;

}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.media-buttons {
    display: flex;
    justify-content: center;
    height: 60%;
    gap: 25px;
    padding: 15px 5px 0;



    button {
        display: inline-block;
        background-color: #282828;
        color: white;
        border: none;
        font-size: 1.8rem
    }

    .play {
        font-size: 3rem;
        font-weight: 800;
        padding-left: 5px;
        padding-right: 5px;

    }
}

.progression {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;

    .barra {
        width: 80%;
        flex-grow: 1;
    }
}


.volume {
    width: var(--col-footer-width);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    gap: 5px;

    button {
        display: inline-block;
        background-color: #282828;
        color: white;
        border: none;
        font-size: 1.2rem;

    }


    .barra {
        width: 60%;
        margin-right: 5px;
    }
}